db:
  # this is what python uses:
  connectstring: "dbname='snapshotpy' user='snapshot' host='localhost' password='x'"
  # this is what ruby uses:
  host: localhost
  database: snapshotpy
  user: snapshot
  password: x
dump:
  dumppath: /srv/snapshot/dumps
snapshot:
  farmpath: /srv/snapshot/farm2
log:
  filename: 'snapshot.log'
