html {
    position: relative;
}

body {
    min-width:680px;
    position:relative;
    margin:0; padding:0 1em; height:100%;
    font-family:serif;
    color:black;
    background-color:white;
}

img {
    border-width:0px;
}

a {
    text-decoration:none;
    color:#4848a5;
    /* color:#d70a53; */
}

a:hover{
    text-decoration:underline;
}

li {
    margin:0;
    padding:0;
}

h1 {
    font-size:x-large;
    border-bottom:2px solid black
}

h2 {
    font-size:large;
}

h3, h4, h5 {
    font-size:medium;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
    color:black;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
    text-decoration:none;
}

ul.inlineList {
    margin-left:0;
    padding-left:0;
}

ul.inlineList li{
    display:inline;
}

/** oben **/

div#top{
    position:relative;
    border-bottom:3px solid black;
    margin-bottom:0.05em;
}

a#logo{
    position:relative;
    display:block;
    left:-1px;
}

#logo img {
    display:block;
}

div#pageheader{
    border-bottom:1px solid black;
    font:medium serif;
}

/** navigationspfad  **/

ul#breadcrumbs {
    margin:0 0 1em 0; padding:0;
}

#breadcrumbs li {
    display:inline;
    font:medium serif;
}

/** unten **/

div#bottom {
    position:relative;
    border-top:3px solid black;
    min-height:120px;
    padding-left:330px;
    margin-top:1em;
    padding-top:0.1em;
    background:url('/static/images/bottom.png') no-repeat top left;
    text-align:right;
    font:x-small sans-serif;
    color:silver;
}

#bottom a {
    text-decoration:underline;
    color:silver;
}

/** rootmaintable  **/

table.rootmaintable {
    margin:0; padding:0;
    border-collapse:collapse;
}
table.rootmaintable td {
    border:none;
    padding: 0 0 0 1em;
    vertical-align:top;
}

table.rootmaintable td:first-child {
    padding:0;
}

/** timeline  **/
.timeline {
    font-size:small;
}
